.root {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 599px) {
  .root {
    gap: 0.75rem;
  }
}

@media (min-width: 900px) {
  .root {
    gap: 1.25rem;
  }
}
